.form-item-teleformulaireList > label {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  padding-left: 20px !important;
}

.verifiedKeyLogo {
  background-image: url(../images/green_check_circle.png) !important;
  background-repeat: no-repeat;
  width: 30px;
  display: inline-block;
  margin-left: 5px !important;
}
